[General]
# Common
FileSystem = ./
FileSystem = Media/

# Shader
FileSystem = ../../engine-core/res/client/Media/LordCore/shader
FileSystem = Media/LordCore/shader

# Actor
FileSystem = Media/Actor
FileSystem = Media/Actor/decoration

# Skins
FileSystem = Media/Skins
FileSystem = Media/Skins/texture
FileSystem = Media/Skins/boy
FileSystem = Media/Skins/girl
FileSystem = Media/Skins/gun
FileSystem = Media/Skins/widget
FileSystem = Media/Skins/merchant
FileSystem = Media/Skins/zombie
FileSystem = Media/Skins/vehicle
FileSystem = Media/Skins/common
FileSystem = Media/Skins/decoration
FileSystem = Media/Skins/g1015
FileSystem = Media/Skins/g1016
FileSystem = Media/Skins/g1017
FileSystem = Media/Skins/g1018
FileSystem = Media/Skins/g1019
FileSystem = Media/Skins/g1020
FileSystem = Media/Skins/g1022
FileSystem = Media/Skins/g1024
FileSystem = Media/Skins/g1025
FileSystem = Media/Skins/g1029
FileSystem = Media/Skins/g1030
FileSystem = Media/Skins/g1031
FileSystem = Media/Skins/g1032_g1033
FileSystem = Media/Skins/g1036
FileSystem = Media/Skins/g1037_g1039
FileSystem = Media/Skins/g1041
FileSystem = Media/Skins/g1041/bag
FileSystem = Media/Skins/g1041/bird
FileSystem = Media/Skins/g1041/costume
FileSystem = Media/Skins/g1041/bird_npc
FileSystem = Media/Skins/g1041/egg
FileSystem = Media/Skins/g1041/monster
FileSystem = Media/Skins/g1041/display_bone
FileSystem = Media/Skins/g1041/hero_costume
FileSystem = Media/Skins/g1041/monstercoins
FileSystem = Media/Skins/g1041/coins
FileSystem = Media/Skins/g1041/bagpacks
FileSystem = Media/Skins/g1041/fruit
FileSystem = Media/Skins/g1041/neweggs
FileSystem = Media/Skins/g1041/cannon
FileSystem = Media/Skins/g1041/sprouts
FileSystem = Media/Skins/g1041/wings
FileSystem = Media/Skins/g1042_g1045
FileSystem = Media/Skins/g1042_g1045/gun
FileSystem = Media/Skins/g1047
FileSystem = Media/Skins/g1047/chairs
FileSystem = Media/Skins/g1047/tiger
FileSystem = Media/Skins/g1047/cannon
FileSystem = Media/Skins/g1047/town
FileSystem = Media/Skins/g1047/wings
FileSystem = Media/Skins/g1047/qiuqian
FileSystem = Media/Skins/g1047/gun
FileSystem = Media/Skins/g1047/qiaoqiaoban
FileSystem = Media/Skins/g1047/2
FileSystem = Media/Skins/g1047/chess
FileSystem = Media/Skins/g1047/tv
FileSystem = Media/Skins/g1047/flower
FileSystem = Media/Skins/g1048
FileSystem = Media/Skins/g1051/monster
FileSystem = Media/Skins/g1051/item
FileSystem = Media/Skins/g1051/resource
FileSystem = Media/Skins/g1052

# Effect
FileSystem = Media/Effects
FileSystem = Media/Effects/Textures
FileSystem = Media/Effects/UI
FileSystem = Media/Effects/decoration

# GUI
FileSystem = Media/GUI
FileSystem = Media/GUI/imageset
FileSystem = Media/GUI/imageset/chest_ui
FileSystem = Media/GUI/UI

# Font
FileSystem = Media/Font

# Lang
FileSystem = Media/Lang/Text
FileSystem = Media/Lang/decoration

# Decorate
FileSystem = Media/Decorate
FileSystem = Media/Decorate/decoration
FileSystem = Media/Decorate/party

# Texture
FileSystem = Media/Textures/64pixBlocks
FileSystem = Media/Textures/Blocks
FileSystem = Media/Textures/colormap
FileSystem = Media/Textures/common
FileSystem = Media/Textures/entity
FileSystem = Media/Textures/entity/chest
FileSystem = Media/Textures/entity/zombie
FileSystem = Media/Textures/environment
FileSystem = Media/Textures/Items
FileSystem = Media/Textures/misc
FileSystem = Media/Textures/particle
FileSystem = Media/Textures/player
FileSystem = Media/Textures/models

# Scripts
FileSystem = Media/Scripts/ClientGame/g1031_g1060/LiftingSimulator/linshi
FileSystem = Media/Scripts/ClientGame/g1031_g1060/LiftingSimulator/res/mesh
FileSystem = Media/Scripts/ClientGame/g1031_g1060/TowerDefense/res/actor/BlockMan
