[General]
# Common
FileSystem = ../client/

# Material & Shader
FileSystem = ../client/Media/LordCore/material
FileSystem = ../client/Media/LordCore/shader
FileSystem = ../client/Media/EditorTextures

# GUI
FileSystem = ../client/Media/GUI
FileSystem = ../client/Media/GUI/imageset
FileSystem = ../client/Media/GUI/UI

# Font
FileSystem = ../client/Media/Font

# Texture
FileSystem = ../client/Media/Textures/Blocks
FileSystem = ../client/Media/Textures/colormap
FileSystem = ../client/Media/Textures/environment
FileSystem = ../client/Media/Textures/Items
FileSystem = ../client/Media/Textures/map
FileSystem = ../client/Media/Textures/misc
FileSystem = ../client/Media/Textures/models
FileSystem = ../client/Media/Textures/entity
FileSystem = ../client/Media/Textures/entity/pig
FileSystem = ../client/Media/Textures/entity/sheep
FileSystem = ../client/Media/Textures/entity/skeleton
FileSystem = ../client/Media/Textures/entity/slime
FileSystem = ../client/Media/Textures/entity/spider
FileSystem = ../client/Media/Textures/entity/villager
FileSystem = ../client/Media/Textures/entity/wither
FileSystem = ../client/Media/Textures/entity/wolf
FileSystem = ../client/Media/Textures/entity/zombie
FileSystem = ../client/Media/Textures/entity/horse/armor
